*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.app_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.app_stats{
  display: flex;
  justify-content: space-between;
}
.app_left{
  flex: 0.9;
}
.app_right{
  padding: 10px;
}
.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  background: #f1f1f1;
}
.app_header .app_dropdown{
  background-color: #fff;
}
.worldtite {
  margin: 15px 0px;
}
.flag{
  width: 25px;
  height: 25px;
  margin-right: 5px;
  object-fit: contain;
}
.app_header h1{
  color: #cc1034;
}
@media only screen and (max-width:999px){
.app{
  flex-direction: column;
}
table{
  width: 100%;
}
}
@media only screen and (max-width:767px){
  .app_header h1{
    font-size: 20px;
  }
  .MuiTypography-body1{
    font-size: 14px !important;
    min-height: 38px;
  }
  .MuiCardContent-root{
    padding: 10px !important;
  }
  .app_right{
    margin-top: 15px;
  }
}