.Infobox{
    flex: 1;
    cursor: pointer;
}
.Infobox:not(:last-child){
    margin-right: 15px;
}
.infobox_cases{
    color: #cc1034;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}
.infobox_total{
    color: #6c757d;
    font-weight: bold !important;
    font-size: 16px !important;
    margin-top: 15px !important;
}
.infobox_select {
    border-top: 10px solid blue;
}
.infobox_red{
    border-color: #CC1034;
}
.infobox_green{
    border-color: #7dd71d;
}
.text_green {
    color: #7dd71d !important;
}